.callback {
  @include wrapper;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 171px;
  padding: 70px 0;
  font-family: $font-deafult;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $black-text;
  text-align: center;
  background-image: url("../img/callback.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 12px 0;

  @media (min-resolution: $density-pixel) {
    background-image: url("../img/callback@2x.jpg");
  }
}

.callback__container {
  width: 656px;
  margin-right: -12px;
  padding: 50px 49px 49px 50px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px $grey-opacity-10;
}

.callback__title {
  display: block;
  margin-bottom: 11px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.callback__text {
  margin: 0;
  margin-bottom: 24px;
}

.callback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.callback__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.callback__input {
  width: 269px;
  margin-bottom: 25px;
  padding: 16px 15px 15px 14px;
  font-family: $font-deafult;
  font-size: 14px;
  line-height: 17px;
  color: $black-text;
  border: 1px solid $grey-opacity-30;

  &-tel {
    padding: 16px 15px 15px 50px;
    background-image: url("../img/icon-star.svg");
    background-repeat: no-repeat;
    background-position: 14px 5px;
    background-size: auto 30px;
  }

  &::placeholder {
    font-family: $font-deafult;
    color: $black-text;
  }

  &:invalid {
    border: 1px solid $red-hover;
  }

  &:hover,
  &:focus {
    border: 1px solid $darker-grey;
  }
}

.callback__button {
  min-width: 176px;
  padding: 18px 10px 17px 10px;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: $tablet-width-only) {
  .callback {
    width: 100%;
    justify-content: center;
    margin-bottom: 83px;
    padding: 70px 0 75px 0;
    background-size: cover;
    background-position: 0 0;
  }

  .callback__container {
    margin-right: 0;
  }

  .callback__input {
    margin-bottom: 20px;
  }

  .callback__input-tel {
    background-position: 16px 7px;
  }

  .callback__button {
    min-width: 249px;
    padding: 20px 10px 18px 10px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: $mobile-width-only) {
  .callback {
    margin-bottom: 70px;
    padding: 0;
    background-image: none;
  }

  .callback__container {
    width: 100%;
    padding: 68px 16px 50px 16px;
    background-color: $light-grey;
    box-shadow: none;
  }

  .callback__title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
  }

  .callback__form {
    display: grid;
    grid-template-rows: repeat(1fr 1fr min-content);
  }

  .callback__form-wrapper {
    width: 288px;
  }

  .callback__text {
    margin-bottom: 19px;
  }

  .callback__input {
    width: 100%;
  }

  .callback__button {
    width: 288px;
  }
}
