.countries {
  padding-bottom: 96px;
  font-family: $font-deafult;
}

.countries__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 370px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.245px;
  color: $darker-grey;

  &::after {
    content: "";
    display: block;
    margin-top: 30px;
    width: 229px;
    height: 4px;
    background-color: $red-hover;
  }
}

.countries__text {
  margin-bottom: 55px;
  width: 370px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.466667px;
  color: $grey-opacity-70;
}

.countries__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countries__item {
  &:nth-child(3n + 1) {
    margin-right: 60px;
  }

  &:nth-child(3n + 3) {
    margin-left: 60px;
  }

  &:last-child {
    margin-left: 60px;
  }

  &:nth-last-child(n + 4) {
    margin-bottom: 101px;
  }
}

@media (max-width: 1169px) {
  .countries {
    padding: 0 30px;
  }

  .countries__item {
    &:nth-child(3n) {
      margin-right: 60px;
    }

    &:last-child {
      margin-top: 60px;
      margin-bottom: 96px;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .countries {
    padding: 0 20px 63px 20px;
  }

  .countries__title {
    width: auto;
    margin: 0 auto 22px auto;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0;

    &::after {
      display: none;
    }
  }

  .countries__text {
    width: auto;
    margin: 0 200px 39px 200px;
    text-align: center;
  }

  .countries__item {
    width: 39.5%;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
      margin-left: 0;
    }

    &:last-child {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 35px;
    }

    &:nth-last-child(n + 4) {
      margin-bottom: 20px;
    }

    &:nth-last-child(3) {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .countries {
    padding: 0 16px 3px 16px;
  }

  .countries__title {
    margin-bottom: 19px;

    font-size: 24px;
    line-height: 36px;
  }

  .countries__text {
    margin: 0;
    margin-bottom: 20px;
  }

  .countries__list {
    justify-content: space-evenly;
  }

  .countries__item {
    width: 288px;

    &:nth-child(2n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(n + 4) {
      margin-bottom: 0;
    }

    &:nth-last-child(3) {
      margin-bottom: 0;
    }

    &:nth-last-child(n) {
      margin-bottom: 35px;
    }
  }
}
