.page-footer {
  @include wrapper;

  display: flex;
  flex-grow: 0;
  margin-bottom: 75px;
  padding-bottom: 0 11px 74px 11px;
  font-family: $font-deafult;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: $black-opacity-50;
}

.page-footer__other-tour {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 403px;
  padding: 0 20px 0 13px;
  border-right: 1px solid $grey;
}

.page-footer__contact {
  margin-right: 21px;
  margin-left: auto;
  padding: 0 20px 0 20px;
}

.page-footer__block-message {
  width: 379px;
  padding-left: 49px;
  border-left: 1px solid $grey;
}

.page-footer__title {
  width: 100%;
  margin: 0;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: $black-text;
}

.page-footer__list {
  margin-right: 50px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.page-footer__list-item {
  display: block;
  margin-bottom: 10px;
  line-height: 17px;
  color: $black-opacity-50;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $black-text;
  }
}

.page-footer__contact-item {
  display: flex;
  margin-bottom: 17px;
  color: $red-hover;
  text-decoration: underline;

  &--mail {
    font-size: 14px;
    line-height: 17px;
  }

  &--tel {
    font-size: 16px;
    line-height: 32px;
  }

  &:hover,
  &:focus {
    color: $black-opacity-30;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-footer__contact-icon {
  &--mail {
    margin-right: 14px;
    color: $grey;
  }

  &--tel {
    margin-right: 11px;
    fill: none;
    color: $grey;
  }
}

.page-footer__contact-name {
  &--tablet {
    display: none;
  }
}

.page-footer__text {
  margin: 0;
}

@media (max-width: $tablet-width-only) {
  .page-footer {
    width: auto;
    flex-wrap: wrap;
    padding: 0 calc(50% - 371px);
  }

  .page-footer__other-tour {
    width: 403px;
    margin-bottom: 18px;
    padding: 0 20px 0 9px;
  }

  .page-footer__list {
    min-width: 95px;
    margin-right: 30px;
  }

  .page-footer__contact {
    margin-left: 30px;
    margin-right: 0;
  }

  .page-footer__block-message {
    width: 100%;
    padding: 30px 0 0 0;
    text-align: center;
    border-top: 1px solid $grey;
    border-left: none;
  }

  .page-footer__contact-name {
    &--tablet {
      display: flex;
      font-size: 14px;
      line-height: 17px;
      text-decoration: underline;
    }

    &--desktop {
      display: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer {
    padding: 0 12px 39px 12px;
  }

  .page-footer__other-tour {
    justify-content: center;
    width: auto;
    margin-bottom: 0;
    padding: 0 9px 0 0;
    border: none;
    border-bottom: 1px solid $grey;
  }

  .page-footer__title {
    text-align: center;
  }

  .page-footer__list {
    width: 143px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .page-footer__contact {
    margin: 0 auto;
    padding: 31px 30px 0 20px;
  }

  .page-footer__contact-item {
    justify-content: center;

    &--mail {
      font-size: 14px;
      line-height: 17px;
    }

    &--tel {
      margin-bottom: 13px;
      font-size: 16px;
      line-height: 32px;
    }
  }

  .page-footer__block-message {
    padding: 28px 0 0 8px;
  }
}
