.response {
  width: 382px;
  margin: 0;
  margin-top: -1px;
  padding: 30px 30px 30px 30px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: $grey-opacity-30;
  letter-spacing: -0.408333px;
  background-color: $white;
}

.response__title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  color: $darker-grey;
  letter-spacing: -0.691667px;

  &::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 68px;
    height: 1px;
    background-color: $red-hover;
  }
}

.response__text {
  margin: 0;
  margin-bottom: 31px;
  color: $grey-opacity-70;
}

.response__author-wrapper {
  display: flex;
  align-items: center;
}

.response__author-img {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 16px;
  border-radius: 50%;
}

.response__author {
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color: $darker-grey;
  letter-spacing: -0.466667px;
}

@media (max-width: $tablet-width-only) {
  .response__title {
    &::after {
      bottom: -13px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .response {
    width: 268px;
    padding: 32px 20px 73px 20px;
  }

  .response__title {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &::after {
      left: 81px;
    }
  }

  .response__text {
    margin-bottom: 16px;
    text-align: center;
  }

  .response__author-wrapper {
    flex-direction: column;
  }

  .response__author-img {
    margin-right: 0;
    margin-bottom: 6px;
  }

  .response__author {
    margin-top: 2px;
    margin-left: 4px;
  }
}
