.tour-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
  width: 902px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  border-bottom: 1px solid $grey-opacity-30;
}

.tour-list__link {
  display: block;
  color: $grey-opacity-30;

  &:hover,
  &:focus {
    color: $red-hover;
  }

  &:active {
    opacity: 0.7;
  }

  &--active {
    color: $red-hover;
  }
}

@media (max-width: $tablet-width-only) {
  .tour-list {
    padding-left: 6px;
  }
}

@media (max-width: $mobile-width-only) {
  .tour-list {
    padding-left: 0;
  }
}
